---
layout: default
---

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="assets/css/slide.css">

<div class="wrapper">
    

    {{ content }}

  <script>
    // look through all h1/h2 inside doc and wrap each with a div.slide
    $("h1").each(function() {
        $(this).nextUntil("h1").addBack().wrapAll("<div class='slide'>");
    });
  </script>
  
  <script src="assets/js/slide.js"></script>

</div>