---
layout: default
---

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="assets/css/slide.css">

<div class="wrapper">
    

    {{ content }}

  <script>
    // look through all h1/h2 inside doc and wrap each with a div.slide
    $("h1").each(function() {
        $(this).nextUntil("h1").addBack().wrapAll("<div class='slide'>");
    });
  </script>
  
  <script src="assets/js/slide.js"></script>


  <div class="outline">
    <div class="outline-list"></div>
  </div>

  <script>
    // adding links to jump to headings

    $(function(){
      // loop through all the headers
      $('h1').each(function(index) {
        console.log($(this).text());
        // create new link from header text
        let url = $(this).text();
        url = url.replace(/\s+/g, '-').toLowerCase();
        url = '#' + url;

        let linkText = $(this).text();
        let maxLength = 35;
        linkText = (linkText.length > maxLength) ? 
          linkText.substring(0,maxLength - 3) + "..." :
          linkText;

        $(`<p><a href="${url}">${linkText}</a></p>`).appendTo('.outline-list');
      });

      // toggle the thing
      $('<h1 class="clicker">_</h1>').prependTo('.outline');

      $( ".clicker" ).on( "click", function() {
        $( ".outline-list" ).toggle();
      } );


    });
    
  </script>

</div>